// FONT

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// VARIABLES

$color--primary: #94B49F;
$color--secondary: #CEE5D0;
$color--light: #FCF8E8;
$color--dark: #ECB390;

// STYLES

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.nav {
    background-color: $color--primary;
    padding: 1em 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav--logo {
    width: 4em;
}

.nav--ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav--li {
    list-style-type: none;
    margin: 0em 1em;
    color: $color--light;
    font-weight: 500;
}

.nav--btn__mode {
    background-color: #ECB390;
    border-radius: 1em;
    border: none;
    color: $color--light;
    padding: 1em 1em;
    font-weight: 600;
    cursor: pointer;
}